[Unit]
Description=Translates macropad input to usable signals
Wants=graphical-session.target
After=graphical-session.target


[Service]
WorkingDirectory=/opt/romopad/
ExecStart=/opt/romopad/romopad --svc start
ExecStop=/opt/romopad/romopad --svc stop
KillMode=process

[Install]
WantedBy=default.target
