[Unit]
Description=Translates macropad input to usable signals
Wants=graphical-session.target
After=graphical-session.target


[Service]
ExecStart=romopad-driver --svc start
ExecStop=romopad-driver --svc stop
KillMode=process

[Install]
WantedBy=default.target
